[Unit]
Description=Service for generating badges for updown.io checks
Documentation=https://kaos.sh/updown-badge-server
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
User=updownbs
ExecStart=/usr/bin/updown-badge-server
ExecReload=kill -HUP $MAINPID
StandardError=syslog
SyslogIdentifier=updown-badge-server

[Install]
WantedBy=multi-user.target
