[Unit]
Description=Service for generating badges for updown.io checks
After=network.target

[Service]
PIDFile=/var/run/updown-badge-server/updown-badge-server.pid
ExecStart=/etc/init.d/updown-badge-server start
ExecStop=/etc/init.d/updown-badge-server stop

[Install]
WantedBy=multi-user.target
